@import "tailwindcss";
@import "@repo/design-system/styles/globals.css";
@import "@repo/design-system/styles/brand.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@source "../../../packages/auth/**/*.{ts,tsx}";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
}
